/*
#434343
#1C3879
#607EAA
#EAE3D2
#F9F5EB
*/

body{
  background-color: #EAE3D2;
  font-family: 'EB Garamond', serif;
  color: #434343;
}

h2 {
  color: #607EAA;
}
h3 {
  color: #607EAA;
  background-color: #EAE3D2;
  f
}

/* navbar */
.navbar{
  margin: 1rem 0;
  padding: 0;
}
.navbar-nav{
  width: 50%;
  height: 100%;
}
.nav-item {
  margin: 0 5px;
  background-color: #1C3879;
  border-radius: 5px;
  border: 1px solid #434343;
  width: 20%;
}

.nav-item:hover {
  background-color: #F9F5EB;
}

.nav-link {
  text-align: center;
  color: #F9F5EB;
  font-weight: 200;

}
.nav-link:hover {
  color: #434343;
}
