/*
#1C3879
#607EAA
#EAE3D2
#F9F5EB
*/

body{
  background-color: #EAE3D2;
}
.slika {
  width: 20em;
  height: 20em;
  margin: auto;
  padding: 0,auto;
}

h2 {
  color: #607EAA;
}
h3 {
  color: #607EAA;
  background-color: #EAE3D2;
}
